<ul>
<li>
<form method="post" action="/:username/admin_tools/ocr">
<input type="hidden" name="username" value="{{username}}">
<button type="submit">OCR
</button>
</li>
<li>
<form method="post" action="/:username/admin_tools/add_new_paper">
<input type="hidden" name="username" value="{{username}}">
<button type="submit">Add New Paper
</button>
</li>
<li>
<form method="post" action="/:username/admin_tools/download_pdf">
<input type="hidden" name="username" value="{{username}}">
<button type="submit" >Download PDF
</button>
</li>
<li>
<form method="post" action="/:username/admin_tools/view_your_paper">
<input type="hidden" name="username" value="{{username}}">
<button type="submit">View your papers
</button>
</li>
<li>
<form method="post" action="/:username/admin_tools/check_a_question">
<input type="hidden" name="username" value="{{username}}">
<button type="submit">Check a question
</button>
</li>
<li>
<form method="post" action="/:username/admin_tools/check_your_paper">
<input type="hidden" name="username" value="{{username}}">
<button type="submit">Check a paper
</button>
</li>
</form>
</ul>
